.Inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Input-container {
    width: min-content;
}

.Input-label {
    padding-right: 4px;
}

.Input {
    max-width: 40%;
}