.Column {
    display: flex;
    flex-direction: column;
}

.Cell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 0.2rem;

    border-bottom: solid;
    border-width: thin;
    border-bottom-color: lightgray;
}

.Cell:last-child {
    border-bottom: none;
}

.Cell-Header {
    font-weight: bold;
    padding-right: 8px;
}

.Cell-Value {
    justify-content: flex-end;
}